.category__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 100px;
}

.cards__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 100px 50px;
}
