.cartPopup__container {
  position: absolute;
  top: 0px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 540px;
  background-color: white;
  z-index: 1000;
}
.cartPopup__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 60px;
  gap: 20px;
}

.cartPopup__buttons__button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 40px;
}

.cartPopup__buttons__button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 5px;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  text-transform: uppercase;
  border: 1px solid var(--colo-border2);
  cursor: pointer;
  text-decoration: none;
}

.cartPopup__buttons__button__link:hover {
  background-color: var(--color-hover2);
  color: white;
}

.cartPopup__totalPrice {
  width: 100%;
  padding: 0 20px;
}
