.currencyBG {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(135, 123, 226, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
