@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

:root {
  --color-text: #1d1f22;
  --color-text2: #a6a6a6;

  --color-hover: #a6a6a6;
  --color-hover2: #1d1f22;

  --colo-border: #a6a6a6;
  --colo-border2: #1d1f22;
  --colo-border3: #e5e5e5;

  --color-primary: #5ece7b;
  --colo-primary2: #1d1f22;
}
